  <td><img src="{{plan}}" width="80" height="80" /> </td>
  <td style="font-weight: bold">{{room}}<span>-комнатная №</span>{{number}}</td>
  <td>{{formatFloat area}}</td>
  <td>{{floor}} <span style="opacity: 0.5">из 17</span></td>
  <td>{{formatCost cost}}</td>
